[Unit]
Description=rustfs server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/rustfs.pid %t/rustfs.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/rustfs.pid \
    --cidfile=%t/rustfs.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_SERVER_PORT}:9000 \
    --publish=127.0.0.1:${TCP_CONSOLE_PORT}:9001 \
    --env=RUSTFS_ADDRESS=:9000 \
    --env=RUSTFS_EXTERNAL_ADDRESS=:9000 \
    --env=RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001 \
    --env=RUSTFS_CORS_ALLOWED_ORIGINS=* \
    --env=RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=* \
    --env=RUSTFS_ACCESS_KEY=${RUSTFS_ROOT_USER} \
    --env=RUSTFS_SECRET_KEY=${RUSTFS_ROOT_PASSWORD} \
    --env=RUSTFS_CONSOLE_ENABLE=true \
    --volume=${RUSTFS_STORAGE}:/data \
    ${RUSTFS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/rustfs.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/rustfs.ctr-id
PIDFile=%t/rustfs.pid
Type=forking

[Install]
WantedBy=default.target
